* { margin: 10px; }

#promote {
    color: forestgreen;
}

.emphasize {
    color: hotpink;
}
header {
    width: 100%;
    height: 100px;
    background-color: lightcoral;
}
section {
    width: 100%;
    height: 159px;
    background-color: forestgreen;
}
article {
    width: 100%;
    height: 100px;
    background-color: forestgreen;
}

aside, footer {
    width: 100%;
    height: 100px;
    background-color: forestgreen;
}
